.navbar {
    width: 100%;
  }
  .dropdown-toggle::after {
    display: none;
  }
  
  button.dropdown-toggle::after {
    display: none;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .listInside {
    height: 100%;
    width: 230px;
    position: absolute;
    transition: 0.5s ease;
    background-color: rgb(232, 232, 232);
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    padding: 50px 0;
    transform: translateY(-100%);

  }
  .dropdown {
background-color: rgb(232, 232, );
  }
  .dropDownLink , .Categories {
    border: 0;
    font-weight: 600;
    font-family: sans-serif;
    padding-top: 10px;
    background-color: rgb(232, 232, 232);
  }
  .btnnn {
    display: block;
    padding: 5px 10px;
    background-color: rgb(42, 42, 255);
    color: white;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    width: 90%;
    margin-top: 20px;
}
.inputt {
  display: none;
visibility: hidden;
-webkit-oppearance:none;
}
.toggle {
  position: absolute;
  height: 40px;
width: 50px;
top: 26px;
right: 20px;
z-index: 1;
border-radius: 2px;
cursor: pointer;
}
.toggle .common {
position: absolute;
height: 1px;
width: 10px;
background-color: #1f1f1f;
border-radius: 50px;
transition: 0.3s ease;
}
.toggle .top-line {
  top: 30%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.toggle .middle-line {
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.toggle .bottom-line {
  top: 70%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.inputt:checked ~ .toggle .top-line {
left: 2px;
top: 14px;
width: 25px;
transform: rotate(45deg);
}
.inputt:checked ~ .toggle .bottom-line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
  }
  .inputt:checked ~ .toggle .middle-line {
    opacity: 0;
    transform: rotate(20deg);
    }
    .inputt:checked ~ .listInside {
      transform: translateY(0);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    .labelContent {
      display: none;
    }
    @media (max-width:691px) {
      .labelContent {
        display: flex;
      }
     

    }
    @media (max-width:497px) {
   
  
  .btnnn {
      display: none;
  }
     }
.Searching {
  width: 30%;
  margin: auto;
  height: 60%;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
}
   .searchSpace {
    width: 100%;
    top: 0;
    text-align: center;
   } 
   .searchSpace input {
    width: 100%;
    height: 35px;
    padding: 2px 15px 5px 2px;
    outline: none;
    border: 0;
    font-family: sans-serif;
    border-radius: 8px;

   }
   .searchSpace input:focus {
    border: 2px solid rgb(42, 133, 212);
   }
    .resultSpace {
      background-color: white;
      width: 100%;
      margin: auto;
      height: 80%;
      padding: 20px 2px 20px 2px;
      overflow-y: scroll;
      cursor: pointer;
display: flex;
flex-direction: column;
    }
    .searchResultItem {
      padding: 5px 8px;
      border-bottom: 1px solid black;
      border-radius: 7px;
font-weight: 600;
font-family: sans-serif;
cursor: pointer;
color: black;
text-decoration: none;
    }
    .allSearching {
      top: 0;
      bottom: 0;
      cursor: pointer;
      right: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(128, 128, 128, 0.5);
      position: absolute;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .closeSpan {
background-color: white;      width: 100%;
display: block;
      text-align: end;
      padding-bottom: 10px;
    }
    .closee {
      font-weight: 600;
      color: black;
      direction: rtl;
    }
    @media (max-width:733px) {
      .Searching {
        width: 80%;
        margin: auto;
      }
    }
    @media (max-width:844px) {
      .Searching {
        width: 60%;
        margin: auto;
      }
    }
    @media (max-width:1139px) {
      .Searching {
        width: 400px;
        margin: auto;
      }
    }
    @media (max-width:733px) {
      .Searching {
        width: 80%;
        margin: auto;
      }
    }